@model IEnumerable<Fnews_Web.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel.ChannelName)
            </td>
            <td>
                @foreach (var tag in item.NewsTag)
                {
                    @tag.Tag.TagName <br />
                }
            </td>
            <td width="10%">
                    @Html.DisplayFor(modelItem => item.LinkImage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.NewsId">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
